/** CENTER MAIN DIV */
.lsm-carousel {
    margin: auto;
    max-width: 1200px;
    font-size: 26px;
    color: #8a8a8a;
    margin-left: 100px;
    margin-right: 100px;
}

/** FLEX INNER DIV */
.carousel-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.carousel-text-subtext {
    font-weight: 900;
    font-size: 33px;
}

/** REMOVE DOTS FROM LI */
.carousel-text-list {
    position: relative;
    display: flex;
    list-style-type: none;
    padding-inline-start: 0px;
    overflow-x: hidden;
    overflow-y: auto;
    height: 450px;
    justify-content: center;
}

.carousel-text-item {
    text-align: center;
    line-height: 30px;
    flex-direction: column;
    font-size: 26px;
    justify-content: space-around;
    font-weight: 400;
    list-style-type: none;
    color: #8a8a8a;
    padding-inline-start: 0px !important;
    overflow-y: auto;
}

/** HIDE ITEM */
.hide-item-list {
    display: none !important;
}

/** ARROWS */
.arrow {
    user-select: none; /* standard syntax */
    -webkit-user-select: none; /* webkit (safari, chrome) browsers */
    -moz-user-select: none; /* mozilla browsers */
    -khtml-user-select: none; /* webkit (konqueror) browsers */
    -ms-user-select: none; /* IE10+ */
}

.arrow:hover {
    cursor: pointer;
}

.arrow:active {
    color: rgb(177, 16, 48);
}

.left-arrow {
    display: block;
    width: 70px;
    height: 79px;
    margin-right: 30px;
    opacity: 0.5;
}

.right-arrow {
    display: block;
    width: 70px;
    height: 79px;
    margin-left: 30px;
    opacity: 0.5;
}

.grey_circle:hover {
    background-color: #ff8686;
    cursor: pointer;
}

.selected_item_carousel {
    background-color: #ff8686 !important;
}

.carousel-buttons {
    display: flex;
    justify-content: center;
    padding: 5px;
}

.grey_circle {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #C4C4C4;
    margin: 5px;
}

/** MEDIA QUERIES */
@media screen and (max-width: 1261px) {
    .carousel-text-item{
        font-size: 18px;
        line-height: 22px;
    }

    .carousel-text-subtext {
        font-size: 25px
    }
}

@media screen and (max-width: 846px){
    .lsm-carousel {
        margin-left: 20px;
        margin-right: 20px;
    }

    .carousel-text-item {
        height: auto;
    }

    .carousel-text-list {
        height: 500px;
    }

    .right-arrow {
        width: 30px;
        height: 40px;
        margin-left: 0px;
    }

    .left-arrow {
        width: 30px;
        height: 40px;
        margin-right: 0px;
    }

    .carousel-text-subtext {
        font-size: 20px;
    }
}